$cyan: hsl(180, 66%, 49%);
$cyan-hover: hsl(180, 66%, 70%);

$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$vdk-blue: hsl(255, 11%, 22%);
$vdk-violet: hsl(260, 8%, 14%);

.custom-button {
	color: white;
	background-color: $cyan;
	border: none;
	font-weight: 700;
	font-size: 1em;
	border-radius: 2em;
	padding: 0.8em 2em;
	font-family: inherit;
	&.shorten {
		border-radius: 0.5em;
		width: 100%;
	}

	&.copied {
		background-color: $dark-violet;
		border-radius: 0.5em;

		&:hover {
			background-color: $dark-violet;
		}
	}
	&:hover {
		background-color: $cyan-hover;
		cursor: pointer;
	}
}
